* {
    border: 0.5px solid red;
}

html {
    height: 100%;
    min-height: 100%;
    
}

@font-face {
    font-family:hero;
    src: url(fonts/hero-2-cufonfonts/HeroLight-Regular.otf);
}
body {
    font-family: hero;
    padding: 0px;
    margin: 0px;
}

a {
    color: white;
}

.navbar {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

#headerLogo {
    margin-left: 200px;
    font-weight: bolder;
    order: 1; 
    
}

#rightsideNavbar {
    margin-right: 300px;
    order: 2; 
}



#link1 {
    
}

#link2 {
    padding: 20px;
}

.topBox {
    background-color: #1F2937;
    color: white;
}